@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h4, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/*Header*/

.header {
    background-color: #1F2937;
    color: #F9FAf8;
}

.nav-header {
    display: flex;
    
    font-size: 18px;
    gap: 20px;
    
}

.header-container {
    display: flex;
    justify-content: space-between;

    padding-bottom: 20px;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAf8;
}

/*Hero*/

.hero {
    background-color: #1F2937;

    padding-top: 100px;
    padding-bottom: 150px;
}

.container-hero {
    display: flex;
    justify-content: space-between;
}

.hero-info {
    width: 450px;
    height: 1px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;

    color: #F9FAf8;
}

.hero-desc {
    font-size: 18px;

    color: #E5E7EB;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;

    text-align: center;
    align-content: center;

    background-color: #3882F6;

    height: 40px;
    width: 130px;

    border-radius: 10px;
    
    margin-top: 10px;
}

.hero-img {
    height: 230px;
    width: 600px;
}

/*Section's carts*/

.carts-title {
    text-align: center;

    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

    padding-top: 50px;
}

.img-cart {
    width: 200px;
    height: 200px;

    border-radius: 20px;
    border: 4px solid #3882F6;

}

.cart-text {
    width: 200px;
    text-align: center;

    font-size: 18px;
}

.carts {
    display: flex;

    width: 1000px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    gap: 40px;

    padding-top: 50px;
    padding-bottom: 100px;
}

/*Quote*/

.section-quote {
    background-color: #E5E7EB;

    padding-top: 100px;
    padding-bottom: 100px;
}

.container-quote {
    width: 890px;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.cite {
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;

    text-align: right;
    margin-right: 100px;
}

/*Sign*/

.section-sign {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-sign {
    display: flex;
    justify-content:space-around;
    background-color: #3882F6;
    border-radius: 10px;

    padding: 50px 50px
}

.sign-info {
    font-size: 24px;
    color: #E5E7EB;
}

.btn-sign {
    border: 2px solid #E5E7EB;
}

.footer {
    background-color: #1F2937;

    padding: 50px 50px;

    text-align: center;

    color: #E5E7EB;
    font-size: 32px;
}